#show_movies{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
}
#show_movies img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 1rem;
}
div{
   border: 1px solid ; 
   text-align: center;
   margin: 5px;
   box-shadow: 4px 4px 8px;
}
body{
    background-color: rgb(52, 63, 66);
}
h3,p{
    color: azure;
}
button{
    color:rgb(2, 2, 2);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }

    li {
    float: left;
    }

    li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

    li a:hover {
    background-color: #111;
    }   
    #NavBar{
        position: sticky;
        top: 0;
    }
    .active {
    background-color: #484949;
    }
    #primeVideo{
        width: 90px;
        height: 47px;
        margin-right: 5px;
    }
    .right{
        float: right;
    }